---
layout: default
---

<section id="one" >
    <div class="container">
        {% for post in site.posts limit:1 %}
            <article>
                <header>
                    <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                </header>
                <section class="post-content">
                    {{ post.excerpt }}
                </section>
                <section class="special">
                    <ul class="actions">
                        <li><a href="{{ site.baseurl }}{{ post.url }}" class="button special">Read More</a></li>
                    </ul>
                </section>
            </article>
        {% endfor %}
    </div>
</section>
<section>
    <div class="container">
        <div class="features">




          {% if site.comment_gitment_repo %}
<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://www.wenjunjiang.win/js/gitment.js"></script>
<script>
    var gitment = new Gitment({
		id: '<%= page.date %>',
        owner: '{{site.github_username}}',
        repo: '{{site.comment_gitment_repo}}',
        oauth: {
            client_id: '{{site.comment_gitment_clientId}}',
            client_secret: '{{site.comment_gitment_clientSecret}}',
        },
    });
    gitment.render('gitmentContainer')
</script>
{% endif %}






        {% for post in site.posts offset:1 %}
            <article>
                <section class="excerpt">
                <header>
                    <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
                </header>

                    {{ post.content | truncatewords: 30 }}
                </section>
                <footer>
                    <ul class="actions">
                        <li><a href="{{ site.baseurl }}{{ post.url }}" class="button">Read More</a></li>
                    </ul>
                </footer>
                <div class="clear"></div>
            </article>
        {% endfor %}
        </div>
    </div>
</section>
